### <span style="color:darkred"> $T$ Distribution Women Job and Life Satisfaction Comparison</span>

In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import imp

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [5]:
# women = pd.read_csv("./data/data_WomenSatisfaction_Life_Job.csv")
women = pd.read_csv("WomenJob_vs_LifeSatisfaction.csv")

women.head(31)

,Province,Women Life Satisfaction Rate (Age 15-24),Women Job Satisfaction Rate (Age 15-24)
0,Azarbaijan_East,70.27,68.68
1,Azarbaijan_West,78.01,70.86
2,Ardabil,70.63,67.87
3,Isfahan,66.68,77.23
4,Alborz,67.15,72.72
5,Ilam,75.58,68.49
6,Bushehr,69.70,80.43
7,Tehran,65.86,87.67
8,Chaharmahal_and_Bakhtiari,73.12,83.23
9,Khorasan_South,77.89,65.04
10,Khorasan_Razavi,75.55,85.78
11,Khorasan_North,65.58,82.32
12,Khuzestan,68.76,82.25
13,Zanjan,72.99,75.19
14,Semnan,76.12,84.34
15,Sistan_and_Baluchestan,77.80,83.06
16,Fars,71.93,88.37
17,Qazvin,79.36,70.67
18,Qom,73.75,100.00
19,Kurdistan,67.27,87.55
20,Kerman,73.68,71.79
21,Kohgiluye_and_Boyer-Ahmad,68.28,90.82
22,Golestan,73.44,88.07
23,Gilan,70.28,92.40
24,Lorestan,79.30,73.06
25,Mazandaran,74.29,84.24
26,Markazi,74.29,84.24
27,Hormozgan,73.09,73.72
28,Hamedan,68.21,83.55
29,Yazd,73.23,100.00

In [6]:
stats.ttest_rel(women['Women Life Satisfaction Rate (Age 15-24)'], women['Women Job Satisfaction Rate (Age 15-24)'])

Ttest_relResult(statistic=-4.168569023928257, pvalue=0.00025267754084451114)